@import 'assets/theme/constants.module.scss';
@import 'assets/theme/mixins.scss';

.results-card-block {
  flex-direction: column;
  width: 22em;
  gap: 1em;
}

.recipe-picture-block {
  border-radius: $borderRadius-default;
  float: left;
  width: 100%;
  height: 12em;
}

.row-two-title {
  display: flex;
  justify-content: center;
}

.row-three-action-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
