@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

.action-button-shell {
  @include actionButton;
  border: $border-default;
  border-color: $color-border-light;
  color: $color-primary-nightBlack;
}

.small-size {
  @include actionButtonSmall;
}

.default-size {
  @include actionButtonDefault;
}
