@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

.steps-card {
  flex-grow: 2;
}

.steps-card-head {
  @include recipeCardHeadDefault;
}

.steps-body {
  padding: $inner-window-spacing-small;
}

.step-container {
  display: flex;
  gap: $inner-window-spacing;
  align-items: center;
}

.steps-container {
  display: flex;
  gap: $inner-window-spacing;
  flex-direction: column;
}

.step-number {
  background-color: white;
  border: 1px solid;
  border-color: $color-primary-nightBlack;
  @include recipeListBulletCircle;
  color: $color-primary-nightBlack;
}

.step-text {
  width: fit-content;
}
