@import "assets/theme/constants.module.scss";

.delete-recipe {
  background-color: $color-primary-dolphinGrey;
}

.add-to-cart {
  background-color: $color-primary-beachYellow;
}

.add-to-cart:hover {
  background-color: $color-primary-beachYellow-hover;
}

// .add-to-favourites {
// }

.favourite {
  background-color: $color-primary-babyPink;
}

.favourite:hover {
  background-color: $color-primary-babyPink-hover;
}

.not-favourite {
  // background-color: $color-primary-babyPink;
  img {
    // filter: brightness(0) invert(1);
  }
}

.not-favourite:hover {
  background-color: $color-primary-babyPink-hover;
  img {
    filter: none;
  }
}

.edit-recipe-button {
  background-color: $color-secondary-skyBlue;
}

.edit-recipe-button:hover {
  background-color: $color-secondary-skyBlue-hover;
}
