@import 'assets/theme/constants.module.scss';
@import 'assets/theme/mixins.scss';

.master-window {
  background-color: white;
  // flex: 1;
  overflow: hidden;
  border-radius: $borderRadius-default;
  border: $border-default;
  border-color: $color-border-light;
  box-shadow: $default-box-shadow;
  // height: 100%;
  // width: 100%;
}

.master-window-results {
  height: 100%;
}

.master-window-no-results {
  height: 20em;

  align-items: center;
  // padding-bottom:
}

.results-container {
  height: 100%;
}

.results-list {
  height: 100%;
  overflow: scroll;
  display: flex;

  gap: $gap-result-cards;
  padding: $inner-window-spacing;
}

.results-list-block {
  flex-wrap: wrap;

  // height: 100%;
}

.results-list-long {
  // height: 10em;

  flex-direction: column;
  // gap: $inner-window-spacing-small;
}

// .results-list-block {
//   display: flex;
//   overflow: wrap;

//   // gap: $gap-result-cards;
//   // overflow: hidden;
//   // overflow-y: hidden;
// }

// .results-list {
//   height: 10em;
//   padding: 0em $inner-window-spacing;
//   display: flex;
//   flex-wrap: wrap;
//   gap: $inner-window-spacing-small;
// }

// .results-list-list {
//   overflow: scroll;
//   flex-direction: column;
// }

.results-long-full {
  width: 100%;
}

.results-long-shrink {
  // width: fit-content;
  width: 43em;
  // min-width: 35%;
}

.close-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: $inner-window-spacing;
  padding-right: $inner-window-spacing;
}

.close-button {
  // float: right;
}

.no-results {
  margin-top: 1em;
  font-size: $fontSize-600-big;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  svg {
    width: 1.3em;
  }
}
