@import "theme/constants.module.scss";
@import "theme/mixins.scss";

.recipe-container {
  border-radius: $borderRadius-default;
  z-index: 1000;
  flex: 1;
  background-color: white;
  border: $border-default;
  color: $border-color-default;
}

.recipe-body {
  border-bottom-left-radius: $borderRadius-default;
  border-bottom-right-radius: $borderRadius-default;
  padding: 1em;
  background-color: white;
}

.recipe-head {
  height: 3.5em;
  border-top-left-radius: $borderRadius-default;
  border-top-right-radius: $borderRadius-default;
  background-color: $color-primary-nightBlack;
}
