@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

.error-message {
  // display: flex;
  // align-items: left;
  // justify-content: left;
  font-size: $fontSize-500-medium;
  // gap: 0.6em;
  // background-color:
  text-align: left;
  left: 0;
  position: absolute;
  white-space: nowrap;

  min-width: fit-content;
  // padding: 0.5em;
  color: $color-error;
  // border-radius: $borderRadius-default;

  // svg {
  //   width: 1em;
  // }
}
