.css-1fdsijx-ValueContainer {
  padding: 0 0.5em;
  position: relative !important;
  z-index: 100000 !important;
}

.css-1nmdiq5-menu {
  z-index: 10000000 !important;
  position: absolute !important;
}
