@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

.forgot-username-password {
  text-align: center;
  @include smallGreyText;
}

.login-block {
  width: 20em;
  display: flex;
  gap: 1.2em;
  flex-direction: column;
  align-items: center;
}

.blocks {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: $row-spacing-small;
  width: 100%;
}

.forgot-password-title {
  font-size: $fontSize-900-title;
  font-weight: $font-weight-bold;
  color: $color-primary-nightBlack;
}

.back-to-login {
  text-align: center;
  @include mediumBrownTextHover;
}

.back-to-login:hover {
  @include textUnderline;
}
