@import "./constants.module";

@mixin defaultHoverTransition {
  &:hover {
    cursor: pointer;
    transition: $transitions-defaultTransition;
  }
  &:not(:hover) {
    transition: $transitions-defaultTransition;
  }
}

@mixin actionButton {
  height: fit-content;
  width: fit-content;
  border-radius: $borderRadius-circle;
  padding: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  @include defaultHoverTransition;
  svg {
    width: 1.1em;
  }
  img {
    width: 1.1em;
  }
}
