@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $inner-window-spacing;
  padding-right: $inner-window-spacing;
  padding-top: $inner-window-spacing-small;
}

.header-column {
  display: flex;
}

.header-column-middle {
  display: flex;
  margin-left: -3em;
  gap: 1.7em;

  svg {
    color: $color-primary-nightBlack;
    width: 1.5em;
    @include defaultHoverTransition;
  }

  svg:hover {
    color: $color-primary-bubblegumPink;
  }
}

.header-recipe-title {
  font-size: $fontSize-600-big;
  max-width: 20em;
  @include clippedText;
}

.header-column-right {
  gap: $inner-window-spacing-small;
}

.header-action-buttons {
  display: flex;
  gap: 1em;
}

.recipe-body {
  display: flex;
  flex-direction: column;
  gap: $inner-window-spacing-small;
}

.recipe-body-row-two {
  max-height: 40%;
  display: flex;
  gap: $inner-window-spacing-small;
}
