@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

$card-head-height: 3.5em;

.recipe-container {
  border-radius: $borderRadius-default;
  z-index: 1000;
  border: $border-default;
  border-color: $color-border-light;
}

.recipe-body {
  border-bottom-left-radius: $borderRadius-default;
  border-bottom-right-radius: $borderRadius-default;
  padding: $inner-window-spacing-small;
  height: 100%;
  max-height: calc(100% - $card-head-height);
  overflow: scroll;
}

.recipe-head {
  border-top-left-radius: $borderRadius-default;
  border-top-right-radius: $borderRadius-default;
}

.recipe-head-small {
  height: 2.5em;
}
.recipe-head-big {
  height: $card-head-height;
}
