@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

.header-close-icon {
  width: 1em;

  @include defaultHoverTransition;
}

.header-close-icon:hover {
  color: $color-default-hover;
}

.black {
  color: $color-primary-nightBlack;
}

.white {
  color: white;
}
