@import "theme/constants.module.scss";
@import "theme/mixins.scss";

.results-master-container {
  background-color: white;
  flex: 1;
  border-radius: $borderRadius-default;
}

.results-list-block {
  display: flex;
  gap: $gap-result-cards;
  flex-wrap: wrap;
}

.results-list {
  height: 10em;
  overflow: scroll;
  padding: 0em $inner-window-spacing;
  display: flex;
  flex-direction: column;
  gap: $inner-window-spacing-small;
}
.results-list-long {
}

.search-results-long-full {
  width: 100%;
}

.search-results-long-shrink {
  width: 50%;
}
