@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

.sidebar {
  background-color: $color-primary-creamWhite;
  width: 15em !important;
}

@mixin selected {
  background-color: $color-primary-cherryBlossomPink;
  color: white;

  svg {
    opacity: 100;
  }
}

.sidebar-option {
  // @include defaultHoverTransition;
}

.sidebar-option-disabled:hover {
  * {
    cursor: default !important;
  }

  li {
    background: none !important;
  }

  // background-color: red;
  // svg {
  //   opacity: 0;
  // }
}

.sidebar-option:hover {
  @include selected;
}

.selected {
  @include selected;
}

// .sidebar-option .MuiListItemButton-gutters {
//   padding: 0em !important;
// }

.option-button {
  width: $circle-button-default-size;
  height: $circle-button-default-size;
  padding: 1em;
  @include optionButton;
  // @include defaultHoverTransition;
}

.yellow-button {
  background-color: $color-primary-sunshineYellow;
}

.pink-button {
  background-color: $color-sidebar-pink-button;
}

.medium-button-image {
  height: 1.1em;
  width: 1em;
}

.small-button-image {
  margin-top: 0.13em;
  height: 0.8em;
  width: 0.9em;
}

.arrow-icon {
  opacity: 0;
  width: 0.6em;
  color: $color-secondary-marshmellowPink;
}

.disabled {
  background-color: $color-primary-dolphinGrey;
  @include disabled;
}

.not-disabled {
  @include notDisabled;
}
