@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

.default {
  background-color: $color-primary-sunshineYellow-dark;
}

.warning {
  background-color: $color-primary-sunshineYellow-dark;
}

.error {
  background-color: $color-error;
}

.information {
  background-color: $color-secondary-skyBlue;
}

.loading {
  background-color: $color-secondary-skyBlue;
}

.success {
  background-color: $color-secondary-fieldGreen;
}
