@import "assets/theme/constants.module.scss";

.master-container {
}

.main-content {
  gap: $main-layout-spacing;
  background-color: $color-primary-babyPink-light;
  padding: $main-layout-spacing;
  padding-left: $sidebar-width + $main-layout-spacing;
  padding-top: $header-height + $main-layout-spacing;
  height: 100%;
}
