@import "theme/constants.module.scss";
@import "theme/mixins.scss";

.recipe-title {
  font-size: $fontSize-900-title;
  max-width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
