@import "assets/theme/constants.module.scss";

.auth-layout {
  background-color: $color-secondary-caramelMilk;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.miss-strawberry-image {
  height: 20em;
}
