@import "assets/theme/constants.module.scss";
@import "assets/theme/mixins.scss";

.form-block {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.bottom-block {
  margin-top: 0.8em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.cancel {
  padding: 0 1.5em;
  @include mediumBrownTextHover;
  flex-grow: 2;
  @include defaultHoverTransition;
}

.cancel:hover {
  @include textUnderline;
}
