@import "./constants.module";

@mixin defaultHoverTransition {
  &:hover {
    cursor: pointer;
    transition: $transitions-defaultTransition;
  }
  &:not(:hover) {
    transition: $transitions-defaultTransition;
  }
}
@mixin cardListTextBorder {
  padding: 0.4em 0.8em;
  border: $border-default;
  border-radius: $borderRadius-default;
}

@mixin defaultHoverColors {
  background-color: $color-primary-bubblegumPink;
  color: white;
}

@mixin actionButton {
  height: fit-content;
  width: fit-content;
  border-radius: $borderRadius-circle;

  display: flex;
  align-items: center;
  justify-content: center;
  @include defaultHoverTransition;
}

@mixin actionButtonDefault {
  padding: 0.7em;
  svg {
    width: 0.8em;
  }
  img {
    width: 0.8em;
  }
}

@mixin actionButtonSmall {
  padding: 0.6em;
  svg {
    width: 0.8em;
  }
  img {
    width: 0.8em;
  }
}

@mixin recipeCardHeadDefault {
  align-items: center;
  display: flex;
  padding-left: $inner-window-spacing-small;
  background-color: $color-soft-white;
  * {
    color: $color-primary-nightBlack;
  }
}

@mixin clippedText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin recipeListBulletCircle {
  padding: 0.5em;
  border-radius: $borderRadius-circle;
  width: $circle-button-default-size;
  height: $circle-button-default-size;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 0.8em;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-primary-beachYellow;
    // border-radius: 1em;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-primary-cherryBlossomPink;
    // border-radius: 10px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-primary-cherryBlossomPink-hover;
    cursor: pointer;
  }
  &::-webkit-scrollbar:horizontal {
    height: 0;
    width: 0;
    display: none;
  }
}

@mixin defaultHeaderButton {
  color: $color-primary-bubblegumPink;
  // width: 1.6em;
  width: 28px;
  height: 28px;
}

@mixin smallGreyText {
  color: $color-medium-grey;
  font-size: $fontSize-300-small;
}

@mixin smallGreyTextHover {
  @include smallGreyText;
  @include defaultHoverTransition;
  &:hover {
    color: $color-medium-grey-hover;
  }
}

@mixin mediumBrownText {
  color: $color-medium-brown;
  font-size: $fontSize-500-medium;
}

@mixin mediumBrownTextHover {
  @include mediumBrownText;
  @include defaultHoverTransition;
  &:hover {
    color: $color-medium-brown-hover;
  }
}

@mixin textUnderline {
  text-underline-offset: $text-underline-offset-default; // OLD
  text-decoration: underline !important; // OLD
  // border-bottom: 1px solid;
  // padding-bottom: 0.2em;
}

@mixin headerCircleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $borderRadius-circle;
  border-style: solid;
  border-width: $button-border-width-default;
}

@mixin optionButton {
  margin-right: 1em;
  border-radius: $borderRadius-circle;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inputDefault {
  border: $border-default;
  border-color: $border-color-light;
  border-radius: $borderRadius-default;
  height: $input-default-height;
  padding: 5px 10px;
  font-size: $fontSize-500-medium;
}

@mixin overrideMuiStylesInput {
  border: none !important;
  fieldset {
    border: none;
  }

  input {
    height: 1.7em !important;
  }
}

@mixin disabled {
  color: $color-disabled-dark;

  img {
    filter: grayscale(100%);
  }

  &:hover {
    cursor: default;
  }
}

@mixin notDisabled {
  @include defaultHoverTransition;
}
