@import 'assets/theme/constants.module.scss';
@import 'assets/theme/mixins.scss';

.results-card {
  @include defaultHoverTransition;
  display: flex;
  padding: $recipe-card-padding;
  border-radius: $borderRadius-default;
}

.results-card-no-hover {
  background-color: $color-soft-white;
}

.results-card-hover {
  background-color: $color-primary-two;
}
